.search-input {
  background: #000;
  color: #fff;
  width: 95%;
  height: 50px;
  padding: 0 25px;
  border-width: 0 0 1px 0;
  border-color: #f00;
}

.search-controls {
  display: flex;
  justify-content: space-between;

  button {
    margin: 0 10px;
    background-color: #3c3c3c;
    color: #fff;
    font-size: 0.8em;
  }

  .active{
    background-color: #f55263;
  }

  span {
    font-size: 0.8em;
  }

  .filter {

  }
}
