@import '../../assets/styles/colors';

.sort-panel {
  .sorting-option {
    color: @text-color-semi-dark;
    background: transparent;
    font-weight: bold;
    display: inline-block;
    text-transform: lowercase;
    padding: 0;
    margin-left: 15px;
    font-size: 1em;
  }

  .sorting-option:focus{
    outline: 0;
  }

  .sorting-option.active {
    color: @text-color-main;
  }
}
